* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display:inline-flexbox;
  }

  html {
    height: 100%;
  }
  
  body {
    min-height: 100%;
    line-height: 1.5;
    font-family: sans-serif;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  input,
  select,
  option,
  optgroup,
  textarea,
  button,
  pre,
  code {
    font-size: 100%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  ol,
  ul {
    list-style: none;
  }
  